body {
  background-color: coral;
}

p {
  font-family: sans-serif;
  color: white;
}

p:hover {
  border: 2px solid black;
  background: white;
  color: coral;
  border-radius: 5px;
  padding: 5px;
}






/* #one {
  color: blue;
}

#two {
  color: white;
}

#three {
  color: green;
}

#four {
  color: pink;
}

.bordered {
  border: 2px solid whitesmoke;
}

.background-black {
  background-color: black;
}

.widthSmaller {
  width: 300px;
}

.transformText {
  text-transform: uppercase;
} */