body {
    background-color: grey;
}
h1 {
    color: red;
}

p {
    font-style: italic;
}

ul {
    border: 1px solid black;
}
ul li:nth-child(even) {  
    margin-bottom: 10px;
  }
ul li {
    background-color: lightblue;
}